<%- include("partials/header") %>
<%- include("partials/nav")%>
<div class="main w-[80%] h-[80vh]  mx-auto flex flex-col items-center py-10">
    <div class="flex gap-5 items-center justify-center">

    
<div class="profileimg h-[150px] w-[150px] rounded-full overflow-hidden">
  <img class="h-full w-full object-cover " src="<%=user.profile%>" alt="">
</div>
<div class="userdetails">
    <h1 class="text-2xl font-semibold text-zinc-600"><%=user.fullname%></h1>
    <h1><%=user.username%></h1>
    <h1><%=user.email%></h1>

</div>
</div>
<form action="/users/uploadimg/<%=user._id%>" method="post" enctype="multipart/form-data">
  <input type="file" name="avatar">
  <button>Submit</button>
</form>
 <div class="allblogs ">
  <h1 class="text-2xl font-semibold">All Blogs</h1>
 
  <div class="blog flex gap-3 flex-wrap my-10 justify-center">
    <%user.blogs.forEach((elem)=>{%>
    
  <a href="/blogdescription/<%=elem._id%>">
    <div class="singleblog w-[300px] h-[300px] bg-zinc-100 py-2 px-2 rounded">
      <div class="img w-full h-[85%]">
        <img class="w-full h-full object-cover" src="<%=elem.blogImage%>" alt="">
      </div>
      <div class="description flex justify-between items-center mt-2">
        <h1 class="text-xl pt-1 capitalize"><%=elem.title.toString().slice(0,10)%></h1>
        <div>
          <a class="bg-green-500 text-white px-4 py-1" href="/update/<%=elem._id%>">Update Blog</a>
          <a href="/delete/<%=elem._id%>"><i class="ri-delete-bin-6-line"></i></a>
        </div>
       
  
      </div>
    </div>
    
   </div>
  </div>
  </a>  
  
<%})%>
</div>
<a href="/users/logout">Logout</a>

<%- include("partials/footer")%>